<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>Week</servlet-name>
    <servlet-class>view.WeekServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Scoreboard</servlet-name>
    <servlet-class>view.ScoreboardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminConsole</servlet-name>
    <servlet-class>view.AdminConsoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminConsole</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Scoreboard</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Week</servlet-name>
    <url-pattern>/week</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>view.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DebugLoginServlet</servlet-name>
    <servlet-class>view.DebugLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>view.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnalyticsServlet</servlet-name>
    <servlet-class>view.AnalyticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/gpluslogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DebugLoginServlet</servlet-name>
    <url-pattern>/debuglogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnalyticsServlet</servlet-name>
    <url-pattern>/analytics</url-pattern>
  </servlet-mapping>
</web-app>